@{
    ViewBag.Title = "";
}
<h2></h2>
<h3></h3>

<style>

    body {
        background-color: black;
        background-image: url(http://sf.co.ua/14/06/wallpaper-1130835.jpg);
        background-size: 1400px 1300px;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
    }
</style>

<h1>Kontakt informacije: </h1>
<hr />
<address>
    <br />
    Sarajevo, Kamena ulica br.10<br />
    <abbr title="Phone">Broj telefona:033/123-456</abbr>

</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">PosaljiMail@gmail.com</a><br />

</address>